<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
 Overridable true
 $Id$
-->

<plugin>

   <extension
         point="com.tibco.bw.design.Palette">
      <paletteDrawer
            expanded="false"
            largeIcon="icons/obj32/zendesk_32x32.png"
            name="%zendesk.palette.name"
            paletteID="bw.zendesk"
            priority="500"
            productID="bw.zendesk.product"
            smallIcon="icons/obj16/zendesk_16x16.png"
            tooltip="%zendesk.palette.tooltip">
      </paletteDrawer>
   </extension>
   
   <extension
         point="com.tibco.bw.design.ActivityType">
      <activityType
            activityTypeID="bw.zendesk.CreateTicket"
            name="%zendesk.activity.CreateTicket.name"
            type="Standard"
            priority="100"
            tooltip="%zendesk.activity.CreateTicket.tooltip"
            visible="true">
         <palette
               paletteID="bw.zendesk">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.zendesk.CreateUser"
            name="%zendesk.activity.CreateUser.name"
            type="Standard"
            priority="100"
            tooltip="%zendesk.activity.CreateUser.tooltip"
            visible="true">
         <palette
               paletteID="bw.zendesk">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.zendesk.UpdateTicket"
            name="%zendesk.activity.UpdateTicket.name"
            type="Standard"
            priority="100"
            tooltip="%zendesk.activity.UpdateTicket.tooltip"
            visible="true">
         <palette
               paletteID="bw.zendesk">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.zendesk.Delete"
            name="%zendesk.activity.Delete.name"
            type="Standard"
            priority="100"
            tooltip="%zendesk.activity.Delete.tooltip"
            visible="true">
         <palette
               paletteID="bw.zendesk">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.zendesk.GetTicketMetrics"
            name="%zendesk.activity.GetTicketMetrics.name"
            type="Standard"
            priority="100"
            tooltip="%zendesk.activity.GetTicketMetrics.tooltip"
            visible="true">
         <palette
               paletteID="bw.zendesk">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.zendesk.Search"
            name="%zendesk.activity.Search.name"
            type="Standard"
            priority="100"
            tooltip="%zendesk.activity.Search.tooltip"
            visible="true">
         <palette
               paletteID="bw.zendesk">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.zendesk.GetTickets"
            name="%zendesk.activity.GetTickets.name"
            type="Standard"
            priority="100"
            tooltip="%zendesk.activity.GetTickets.tooltip"
            visible="true">
         <palette
               paletteID="bw.zendesk">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.zendesk.GetUsers"
            name="%zendesk.activity.GetUsers.name"
            type="Standard"
            priority="100"
            tooltip="%zendesk.activity.GetUsers.tooltip"
            visible="true">
         <palette
               paletteID="bw.zendesk">
         </palette>
      </activityType>

      
   </extension>
   
     <extension
         point="com.tibco.bw.design.ActivitySignature">
      <signature
            activityTypeID="bw.zendesk.CreateTicket"
            signatureClass="com.tibco.bw.palette.zendesk.design.createticket.CreateTicketSignature">
      </signature>
      <signature
            activityTypeID="bw.zendesk.CreateUser"
            signatureClass="com.tibco.bw.palette.zendesk.design.createuser.CreateUserSignature">
      </signature>
      <signature
            activityTypeID="bw.zendesk.UpdateTicket"
            signatureClass="com.tibco.bw.palette.zendesk.design.updateticket.UpdateTicketSignature">
      </signature>
      <signature
            activityTypeID="bw.zendesk.Delete"
            signatureClass="com.tibco.bw.palette.zendesk.design.delete.DeleteSignature">
      </signature>
      <signature
            activityTypeID="bw.zendesk.GetTicketMetrics"
            signatureClass="com.tibco.bw.palette.zendesk.design.getticketmetrics.GetTicketMetricsSignature">
      </signature>
      <signature
            activityTypeID="bw.zendesk.Search"
            signatureClass="com.tibco.bw.palette.zendesk.design.search.SearchSignature">
      </signature>
      <signature
            activityTypeID="bw.zendesk.GetTickets"
            signatureClass="com.tibco.bw.palette.zendesk.design.gettickets.GetTicketsSignature">
      </signature>
      <signature
            activityTypeID="bw.zendesk.GetUsers"
            signatureClass="com.tibco.bw.palette.zendesk.design.getusers.GetUsersSignature">
      </signature>
   </extension>
   
   <extension
         point="com.tibco.bw.design.ActivityTypeConfigEMF">
      <config
            activityTypeID="bw.zendesk.CreateTicket"
            eClassName="CreateTicket"
            ePackageNSURI="http://ns.tibco.com/bw/palette/zendesk"
            instanceName="%zendesk.activity.default.CreateTicket.name"
            modelHelperClass="com.tibco.bw.palette.zendesk.design.createticket.CreateTicketModelHelper">
      </config>
      <config
            activityTypeID="bw.zendesk.CreateUser"
            eClassName="CreateUser"
            ePackageNSURI="http://ns.tibco.com/bw/palette/zendesk"
            instanceName="%zendesk.activity.default.CreateUser.name"
            modelHelperClass="com.tibco.bw.palette.zendesk.design.createuser.CreateUserModelHelper">
      </config>
      <config
            activityTypeID="bw.zendesk.UpdateTicket"
            eClassName="UpdateTicket"
            ePackageNSURI="http://ns.tibco.com/bw/palette/zendesk"
            instanceName="%zendesk.activity.default.UpdateTicket.name"
            modelHelperClass="com.tibco.bw.palette.zendesk.design.updateticket.UpdateTicketModelHelper">
      </config>
      <config
            activityTypeID="bw.zendesk.Delete"
            eClassName="Delete"
            ePackageNSURI="http://ns.tibco.com/bw/palette/zendesk"
            instanceName="%zendesk.activity.default.Delete.name"
            modelHelperClass="com.tibco.bw.palette.zendesk.design.delete.DeleteModelHelper">
      </config>
      <config
            activityTypeID="bw.zendesk.GetTicketMetrics"
            eClassName="GetTicketMetrics"
            ePackageNSURI="http://ns.tibco.com/bw/palette/zendesk"
            instanceName="%zendesk.activity.default.GetTicketMetrics.name"
            modelHelperClass="com.tibco.bw.palette.zendesk.design.getticketmetrics.GetTicketMetricsModelHelper">
      </config>
      <config
            activityTypeID="bw.zendesk.Search"
            eClassName="Search"
            ePackageNSURI="http://ns.tibco.com/bw/palette/zendesk"
            instanceName="%zendesk.activity.default.Search.name"
            modelHelperClass="com.tibco.bw.palette.zendesk.design.search.SearchModelHelper">
      </config>
      <config
            activityTypeID="bw.zendesk.GetTickets"
            eClassName="GetTickets"
            ePackageNSURI="http://ns.tibco.com/bw/palette/zendesk"
            instanceName="%zendesk.activity.default.GetTickets.name"
            modelHelperClass="com.tibco.bw.palette.zendesk.design.gettickets.GetTicketsModelHelper">
      </config>
      <config
            activityTypeID="bw.zendesk.GetUsers"
            eClassName="GetUsers"
            ePackageNSURI="http://ns.tibco.com/bw/palette/zendesk"
            instanceName="%zendesk.activity.default.GetUsers.name"
            modelHelperClass="com.tibco.bw.palette.zendesk.design.getusers.GetUsersModelHelper">
      </config>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.bw.core.design.process.editor">
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.zendesk.design.createticket.CreateTicketGeneralSection"
               filter="com.tibco.bw.palette.zendesk.design.createticket.CreateTicketGeneralSection"
               id="bw.zendesk.CreateTicket.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.zendesk.design.createticket.CreateTicketAdvancedSection"
               filter="com.tibco.bw.palette.zendesk.design.createticket.CreateTicketAdvancedSection"
               id="bw.zendesk.CreateTicket.advanced"
               tab="tibco.bw.activity.property.tab.advanced">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.zendesk.design.createticket.CreateTicketInputEditorSection"
               filter="com.tibco.bw.palette.zendesk.design.createticket.CreateTicketInputEditorSection"
               id="bw.zendesk.CreateTicket.inputEditor"
               tab="tibco.bw.activity.property.tab.inputEditor">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.zendesk.design.createuser.CreateUserGeneralSection"
               filter="com.tibco.bw.palette.zendesk.design.createuser.CreateUserGeneralSection"
               id="bw.zendesk.CreateUser.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.zendesk.design.updateticket.UpdateTicketGeneralSection"
               filter="com.tibco.bw.palette.zendesk.design.updateticket.UpdateTicketGeneralSection"
               id="bw.zendesk.UpdateTicket.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.zendesk.design.updateticket.UpdateTicketAdvancedSection"
               filter="com.tibco.bw.palette.zendesk.design.updateticket.UpdateTicketAdvancedSection"
               id="bw.zendesk.UpdateTicket.advanced"
               tab="tibco.bw.activity.property.tab.advanced">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.zendesk.design.updateticket.UpdateTicketInputEditorSection"
               filter="com.tibco.bw.palette.zendesk.design.updateticket.UpdateTicketInputEditorSection"
               id="bw.zendesk.UpdateTicket.inputEditor"
               tab="tibco.bw.activity.property.tab.inputEditor">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.zendesk.design.delete.DeleteGeneralSection"
               filter="com.tibco.bw.palette.zendesk.design.delete.DeleteGeneralSection"
               id="bw.zendesk.Delete.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.zendesk.design.getticketmetrics.GetTicketMetricsGeneralSection"
               filter="com.tibco.bw.palette.zendesk.design.getticketmetrics.GetTicketMetricsGeneralSection"
               id="bw.zendesk.GetTicketMetrics.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.zendesk.design.search.SearchGeneralSection"
               filter="com.tibco.bw.palette.zendesk.design.search.SearchGeneralSection"
               id="bw.zendesk.Search.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.zendesk.design.gettickets.GetTicketsGeneralSection"
               filter="com.tibco.bw.palette.zendesk.design.gettickets.GetTicketsGeneralSection"
               id="bw.zendesk.GetTickets.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.zendesk.design.gettickets.GetTicketsOutputEditorSection"
               filter="com.tibco.bw.palette.zendesk.design.gettickets.GetTicketsOutputEditorSection"
               id="bw.zendesk.GetTickets.outputEditor"
               tab="tibco.bw.activity.property.tab.outputEditor">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.zendesk.design.getusers.GetUsersGeneralSection"
               filter="com.tibco.bw.palette.zendesk.design.getusers.GetUsersGeneralSection"
               id="bw.zendesk.GetUsers.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
      </propertySections>
   </extension>
   
   <extension
         point="com.tibco.bw.design.BWContextHelp">
      <plugin
            defaultURL="file://F:/git/ZenTCIHack/Zendesk/doc/index.html"
            id="bw.zendesk.product"
            name="BusinessWorks Zendesk Plugin">
      </plugin>
   </extension>
   
</plugin>
